.review-card {
    padding: 15px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    max-width: 400px; 
}
  
.review-user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.review-user p {
    /* for the username */
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  
.review-text {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
}