.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

.album-grid {
    display: grid;
    grid-template-columns: 24rem 24rem 24rem;
    grid-gap: 1rem;
    justify-content: center;
}